In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
O_dataset = pd.DataFrame([567,572,572,589,614,616,628,645,650,652,657,661,666,668,669,675,676,
                        686,694,698,706,706,708,711,714,716,722,728,729,729,730,732,735,737,737,
                        738,740,741,744,747,748,748,749,750,752,755,755,758,761,764,769,775,781,782,786,793,793,
                        795,798,799,800,800,811,812,814,814,815,818,819,821,821,826,829,841,842,843,850,875,879,897
                         ])

In [10]:
O_dataset.mean()

0    743.0375
dtype: float64

In [11]:
O_dataset.std()

0    74.042657
dtype: float64

In [12]:
S_dataset=O_dataset-O_dataset.mean()
S_dataset.head()

          0
0 -176.0375
1 -171.0375
2 -171.0375
3 -154.0375
4 -129.0375

In [13]:
S_dataset=S_dataset/S_dataset.std()
S_dataset.head()

          0
0 -2.377515
1 -2.309986
2 -2.309986
3 -2.080389
4 -1.742745

In [15]:
S_dataset.mean()
S_dataset

           0
0  -2.377515
1  -2.309986
2  -2.309986
3  -2.080389
4  -1.742745
..       ...
75  1.350066
76  1.444606
77  1.782250
78  1.836273
79  2.079376

[80 rows x 1 columns]

In [16]:
S_dataset.std()

0    1.0
dtype: float64

# data generate

In [29]:
import random
data = np.round(np.random.randint(0,1000,960))*100
data

array([65900, 29600,  9500, 36300, 66800, 80500, 19500, 52600, 67900,
       26800, 32200, 16000,  3600,  6100, 65300, 47500,  2900, 85100,
       92400, 10900, 59800, 68700,   800, 69400, 38000, 96600, 57400,
       99200, 35000, 11200, 79200, 41800,  9400, 19400, 10100,  2100,
       47200, 17400, 23000, 31600, 89600, 42200, 17900, 10600, 57300,
       51900, 52100, 49100, 77100, 74800, 25700, 45500, 40000, 87500,
       70300, 33100, 43900, 19200, 90800, 62000,  6000, 55200,  3200,
       48700, 65500, 63500, 35000, 81900, 54600, 67500,  9700, 65700,
       60800, 80000, 17900, 55500, 92500, 23100, 10200, 50700, 47700,
       29000, 55700,  4400, 50200, 54700, 40400, 96500, 18100, 11400,
       31600, 72800,  2700, 34400, 16400,  8700, 74300, 47900, 66600,
        8600,  1300, 27900, 31800, 56000, 61700,  7400, 19100, 70700,
       97300, 64200, 66000, 87200, 46200, 19500, 70300, 36800,  5700,
       39800, 54300, 38000, 90200,  6200, 59000, 95500,  8700, 15000,
        2900, 42700, 66900, 67400, 89500, 43400, 68500, 84200, 19800,
       29300, 41700, 30100, 68500, 51500, 86300, 19200, 80700, 42900,
       42600, 54300, 91500, 80300,  8900,  2800, 51300, 55300, 72500,
       17200, 66400, 56000, 18100, 45700, 44600, 42700, 74900, 56600,
       47000, 12200, 88200, 29800, 82100, 31200, 10100, 11800, 58300,
       30500, 60400, 16900, 15600, 16800, 66100, 38000, 85300, 76400,
       94700, 85300,  7400, 46900, 40900, 34200, 67000, 44700,  7200,
       43500, 20100, 46100, 66300,  2900,  6200, 36100, 66300, 51200,
       21800, 48600, 40900, 83600, 21200, 89900,  4100, 70100, 72200,
       73800, 93500, 56100, 78200, 89200, 59300, 89800, 66400, 14900,
       22800, 24500, 90700, 43800, 86700, 77200, 13800, 22400, 76500,
       16600, 90900, 63800, 74400, 72800, 27000, 99300, 57100, 38900,
       95500, 69500, 55700, 94600, 87500, 14500, 33800, 71300, 19000,
       53600, 16600, 82800, 18800, 40700,  9900, 24300, 96600, 91800,
       94500,  1900, 27900, 84500, 82100,  5900, 76700, 49200, 92300,
        7000, 97700, 35100, 87700, 91900,  1500,  8500, 80600, 84600,
       50000, 83300, 68600, 76800, 81500, 11300,  6500,  6400, 23200,
       41300,  3100, 87000, 49800,  6000,  3700, 39300,   800, 68700,
       39800, 20200, 86800, 50000, 55700, 87200, 42600, 42100, 55100,
       79000,  1200, 59900, 39700, 24700, 79100, 93500, 86900, 33000,
       19000, 73800, 51100, 56000, 84600, 10800, 10800, 82000, 65000,
       16000, 50100, 40800, 30200, 13800, 50100, 46400,  8500, 95400,
       75300, 15200, 25300, 21200, 99300, 86800, 81900, 42300,  4400,
       54700, 36400, 97500, 18600, 59800, 73800, 79900, 74200, 43500,
       74500, 16700, 55700, 79300, 48800, 61000,  3800, 99100, 51900,
       25000,   800, 19600, 99700, 91900, 12500, 18200, 48400, 82200,
       12000, 86900, 85600, 58400, 71700, 12600, 56000, 86000, 16500,
       92500,  7800, 92100, 76100, 94700, 25200, 96400, 71200, 47400,
       67900, 53700, 61700, 43600,  2700, 44300, 96400, 52500, 29500,
       13100,  3200, 72800,  5300, 78200, 29400, 73300, 61900, 88200,
       23800, 27400,  9300, 45800, 48700, 28800, 44900, 66000, 59500,
       87100, 13600, 68200,  7600, 88700, 78900, 33700, 95900, 32100,
       64600, 18700, 12600, 38900, 15000, 69900, 76700, 79300, 99000,
       42400, 87400, 88200, 35600, 47700, 70900, 76400, 65800, 50900,
       20800, 35400, 27200, 68100, 47600, 43100, 30900, 76200, 14100,
       79300,   900, 67800, 99000, 31600, 23600, 76300, 42400, 46500,
       33100, 15000, 38600, 41400, 98200, 75700, 17400, 10000,  7500,
       61100,  3900, 18700, 20900, 17200, 38300, 64700, 96200, 71200,
       46200, 35500, 84500, 73300, 75900,  9700, 15700, 72100, 77500,
       78700, 69700, 41000, 27000, 59000, 52900, 32700, 93300, 54500,
       41100, 43000, 86900, 25100,   200, 67800, 75700, 92200, 24900,
       88300,  9400, 66000, 83000, 57700, 40800, 80700, 85900, 98600,
       78700, 80700, 26700, 84700, 69000, 69800, 78500, 18800, 85600,
       56400, 42700, 39500, 41400, 82500, 21600, 64100, 76200, 26000,
       86900,  8700, 99800, 43800, 29300, 37200, 68800, 64300, 58300,
       29600, 66500, 29900, 94900, 84100, 13500, 69900, 80300,  6200,
       53000, 13200, 53500, 40100, 58300, 30700, 91100, 42800, 31000,
       72500, 91500, 55000,  1300, 33500, 73400,   500, 65100, 23500,
       90700, 90000, 74800, 20200, 95200, 90600, 86500, 25700, 77300,
       75300, 53500, 37600, 40100, 83300,   200, 67300, 63500, 38500,
       48700, 36400, 76800, 83200, 12200, 91800, 82700,  3200, 56900,
       44800, 75900, 78300,  3700, 89200, 26800, 80100, 13200,  6700,
       75300, 62900, 97000, 99300, 23200, 25100, 78800, 89500,  4500,
       12900, 85400, 82800, 21100, 52600,   200, 64100, 42600, 25600,
       45000, 14400, 20600, 14400, 65400, 65400, 56600, 38000, 68000,
       61500, 68200, 27100, 10200, 17300,  9300, 28200, 34000, 64700,
       54400, 77100, 84100, 44800, 49800,  8900, 85300, 88900, 81800,
       20800, 11900, 32500, 35600,   600,  1800, 84900, 63700, 39600,
       90400, 35400, 92300, 65000, 79900,  6900, 34800, 67400,  5700,
       55600, 69100, 17900, 33300, 61600, 36700, 79800, 56200, 15900,
       43400, 25200, 45900, 66400, 32400, 82800, 79700, 25200, 47800,
       18400, 75800, 72700, 26600, 29700, 17000, 11900, 46300, 94900,
       67300, 30000, 89900, 67900, 55400, 71800, 46900, 95500, 38200,
       57200, 16100, 26300, 37200, 76700, 80200, 16700, 37900, 54800,
       88300, 78300, 64300, 57300, 62900, 15300, 19900, 78800, 77900,
       84100, 96000, 63500, 98400, 36200, 83600, 61800, 61400, 20800,
       71000, 42400, 46700, 65200, 73000, 43800, 88400, 70700, 90200,
       38200, 64900, 58600, 41200, 73800, 26900, 16900, 90800, 22400,
       81200, 81700, 86100, 18600, 13500, 73400, 52900, 45700, 11600,
       38400, 77200, 14200, 17400, 15300, 79400, 85000,  5300, 31900,
       96800, 51800, 26800, 93900,   900, 48500, 19900, 35100, 99300,
       55600, 68000, 16900,  7000, 54200, 69700,   600, 19600, 94600,
       57900, 34700,  7900, 50800, 46600, 25900, 57100, 16400, 33600,
       80100, 33600, 97100, 97000, 20100, 47500, 39000, 85600,  5300,
       34300, 87200, 49800, 70400, 71600, 20500, 58800, 12300, 10900,
       95800, 85600,  6000, 54400, 88100, 53200, 31300, 64500, 36700,
       56800, 33800, 19500, 98400, 39800, 29400, 22400, 25300, 43700,
       61300, 87200,   300,  3400,  5000, 96200, 58100,  8400, 41900,
       23300, 31400, 27500, 92700, 22400, 40100, 66000, 77600, 53500,
       24000, 87400, 81100, 50900, 24300, 71600, 13500, 47900, 12500,
       28600, 64600, 52600, 27300, 14100, 82700, 67700, 60600, 93800,
       83500, 49500, 76200, 78700, 61000, 87600, 67200, 24700, 73600,
        1700,  1900, 92900, 86500, 78100,  6500, 40500, 18100, 88300,
       73500, 59500, 38500, 45600,  5400, 76000, 89700, 24200, 21400,
         200, 73100, 84100,   400, 30200,  1700, 45000, 99300, 29300,
       99600, 83300, 56600, 90100, 35600, 85400, 23300, 52700, 68200,
       14600, 32400, 93200, 60500, 84600, 27400, 75800, 68300, 19200,
       10900, 96500, 13400, 44600, 86700, 29300,  7400, 74800, 36400,
       56900, 48800,  6600, 67100,  2600, 16700, 86900, 70600, 60200,
       77600, 21400, 15600, 44700,  9200, 48600, 17300, 96800, 10400,
       15100, 79000, 59600, 48700, 98400, 67300, 81000, 31000, 53400,
       10600, 32300, 29500, 10800, 76000, 26000, 11400, 73000,  1400,
       21000, 71500, 37200, 93400, 15500,  4100])